pin-depends: [
  ["httpaf-eio.dev" "git+https://github.com/anmonteiro/httpaf.git"]
  ["httpaf.dev" "git+https://github.com/anmonteiro/httpaf.git"]
  ["eio-ssl.0.2.0" "git+https://github.com/anmonteiro/eio-ssl.git"]
]
